.head-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5em;
}
.title {
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    margin: 1em 0;
}
.sub-title {
    margin-top: 0;
    opacity: 0.9;
    color: grey;
    font-size: 0.7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}