:host{
    width: 100%;
}
@media only screen and (min-width: 1100px) {
.currencies-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;

    }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .currencies-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 10px;
    
        }
    }