<div id="currencies-wrapper" class="currencies-wrapper">
<currency base="BTC"></currency>
<currency base="ETH"></currency>
<currency base="XRP"></currency>
<currency base="LTC"></currency>
<currency base="ZEC"></currency>
<currency base="DASH"></currency>
<currency base="XMR"></currency>
<currency base="BCH"></currency>
<currency base="NEO"></currency>
<currency base="ADA"></currency>
<currency base="EOS"></currency>
<currency base="XLM"></currency>
<currency base="ZRX"></currency>
<currency base="ETC"></currency>
<currency base="BNB"></currency>
<currency base="TRX"></currency>
</div>
