

.currency-wrapper {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    transition: background-color 1000ms linear;
    padding: 1em;
    margin: 1em;
}

.currency-wrapper.updated {
    transition: background-color 1000ms linear;
    background-color: lime;
}

.currency-wrapper.increase {
    transition: background-color 1000ms linear;
    background-color:rgba(0,255,0, 0.3);
}

.currency-wrapper.drop {
    transition: background-color 1000ms linear;
    background-color:rgba(255,0,0, 0.3);
}

.currency-wrapper.hold {
    transition: background-color 1000ms linear;
    background-color:rgba(0,0,255, 0.3);
}