<div class="currency-wrapper" [ngClass]="{
    'increase-updated': updated && change > 0,
    'drop-updated': updated && change < 0,
    'hold-updated': updated && change === 0,
    'increase': !updated && change > 0,
    'drop': !updated && change < 0,
    'hold': !updated && change === 0
}" >
    <h3 class="currency-name">{{base}} - {{summary.name}}</h3>
    <span class="spot" [ngClass]="{
    'increase': !updated && change > 0,
    'drop': !updated && change < 0,
    'hold': !updated && change === 0
}"> {{summary.latest}} {{summary.currency}} </span>
    <div class="spaced"><span class="legend">Updated</span> {{lastUpdated | date:"HH:mm:ss:sss"}}</div>
</div>